$background_color1: #003e5b;
$background_color2: #005280;
$background_color3: #70c5ee;
$background_color4: #bee5f7;
$color_text1: #ffffff;
$color_text2: #aaa;

.cars_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cars_amount_in_garage {
    font-size: 100%;
}

.cars_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pangination_buttons_cars {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.prev_button_cars {
    padding: 5px 10px;
    background-color: $background_color3;
    text-align: center;
    border: 4px outset $background_color4;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 90%;
}

.next_button_cars {
    padding: 5px 10px;
    background-color: $background_color3;
    text-align: center;
    border: 4px outset $background_color4;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 90%;
}